/*下方这句不动它，翻译开始*/

* {
	padding: 0;
	margin: 0;
}

/*翻译
主页整体样式 
文本对齐︰ 中心;
背景色︰ #ffffff  使用夜间默认时修改为#000000即可
}
*/

body {
	text-align: center;
	background-color: #ffffff;
}

/*翻译
logo图标样式 
宽度︰ 198px;
高度︰ 65px;
最大宽度︰ 250px;
动画︰ flipInX 4s;
-webkit 动画︰ flipInX 4s
}*/


img.smaller {
	width: 198px;
	height: 65px;
	max-width: 250px;
	animation: flipInX 4s;
	-webkit-animation: flipInX 4s
}



/*翻译
logo添加文字样式 
字体大小︰ 2em;
白色空间︰ 正常;
自动换行︰ 断词;
文本修饰︰ 无;
颜色: #232323
}*/

.logo {
	font-size: 2em;
	white-space: normal;
	word-wrap: break-word;
	text-decoration: none;
	color: #232323
}

/*翻译
搜索栏字体样式 
宽度︰ 90%;
高度︰ 40px;
背景颜色︰ 透明;
边境︰ 无;
大纲︰ 0;
字体大小︰ 18px;
字体颜色: #426ab3;
填充︰ 0 20px;
边界半径︰ 50px
}*/

#search_input {
	width: 90%;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: 0;
	font-size: 18px;
	color: #426ab3;
	padding: 0 20px;
	border-radius: 50px
}

/*翻译
搜索框边距 
下边距︰ 30px;
上边距︰ 20px;
*/

.search_part {
	margin-bottom: 30px;
	margin-top: 20px;
}

/*翻译
跨度样式
显示︰ 阻止;
溢出︰ 隐藏;
左填充︰ 5px;
垂直对齐︰ 居中;
*/

span {
	display: block;
	overflow: hidden;
	padding-left: 5px;
	vertical-align: middle;
}

/*翻译
搜索栏框架样式 {
框阴影︰ 0 0 18px rgba(70,70,40,.255);括号里的颜色为Rgb默认，可进入http://rgb.phpddt.com/查询
背景色︰ rgba(255,255,255,.100);
边界半径︰ 50px;
显示︰ 表;
垂直对齐︰ 居中;
宽度︰ 80%;根据你喜欢的宽度调整，目前我为了对齐图标使用80%
高度︰ 40px;
最大宽度︰ 400px;
边距︰ 10px 默认布局;
}
*/

.search_bar {
	box-shadow: 0 0 18px rgba(70,70,40,.255);
	background-color: rgba(255,255,255,.100);
	border-radius: 50px;
	display: table;
	vertical-align: middle;
	width: 80%;
	height: 40px;
	max-width: 400px;
	margin: 10px auto;
}

/*翻译
搜索栏搜索目标确认图标样式，目前为米奇
轮廓边框︰ 0;
高度︰ 40px;
浮标位置︰ 右;
颜色: #000;
字体大小︰ 16px;
字体粗细︰ 700;
边境︰ 无;
背景颜色︰ 透明;
填充︰ 0 13px 0 13px
*/

#search_submit {
	outline: 0;
	height: 40px;
	float: right;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	border: none;
	background-color: transparent;
	padding: 0 13px 0 13px
}

/*翻译
书签图标排版目录样式 
宽度︰ 100%;
文本对齐︰ 中心;
填充顶部︰ 15px;
填充底部︰ 15px;
*/

#content {
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*翻译
书签框架样式
位置︰ 相对应;
显示︰ 显示在内部;
宽度︰ 75px;
边境︰ 0;
*/

.box {
	position: relative;
	display: inline-block;
	width: 75px;
	border: 0;
}


/*翻译
书签图标样式
宽度︰ 100%;
高度︰ 100%;
位置︰ 不受限制;
左︰ 0;
顶︰ 0;
*/

.box a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/*翻译
书签字体样式
颜色: #232323;使用夜间模式时修改为#eee或者#f2eada即可
高度︰ 1.5em;
线的高度︰ 1.5em;
宽度︰ 72px;
字体大小︰ 0.75em;
白色空间︰ nowrap;
溢出︰ 隐藏;
边距︰ 默认布局;
-webkit 边框顶部右半径︰ 5px;
-webkit 边框底部右半径︰ 5px;
文本溢出︰ 省略;
-o 文本溢出︰ 省略;
气相色谱-质谱-文本-溢出︰ 省略;
填充顶部︰ 3px;
填充底部︰ 8px;
*/

.url {
	color: #232323;
	height: 1.5em;
	line-height: 1.5em;
	width: 72px;
	font-size: 0.75em;
	white-space: nowrap;
	overflow: hidden;
	margin: auto;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	padding-top: 3px;
	padding-bottom: 8px;
}

/*翻译
字体样式 
宽度︰ 3em;
高度︰ 3em;
最大宽度︰ 72px;
*/

.icon {
	width: 3em;
	height: 3em;
	max-width: 72px;
}

/* 修改 */
/* 
书签整体
过度：所有标签 0.1秒；
过度动画：向下淡入 0.25秒；
 */
.box {
  transition: all .25s;
}

/*
书签整体：悬停
边框阴影：0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2)；
改变：转换(0,-7px)；
*/
.box:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  transform: translate(0,-7px);
}

/*
头部徽标
颜色： #f35626；
背景： #ffffff；
边框半径： 3像素；
边框阴影： 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)；
内边距： 3像素；
字体大小：24像素；
背景图片： -webkit-颜色渐变图片(渐变轴45度,#aaf9c9, #69b4e5, #69b4e5, #807fe4)；
-webkit-背景延伸： 文字；
-webkit-文本填充颜色：transparent；
动画: hue 30s 无限循环 线性;
*/
.logo {
  color: #f35626;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3px;
  font-size: 24px;
  background-image: -webkit-linear-gradient(45deg,#aaf9c9, #69b4e5, #69b4e5, #807fe4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
}

/* 动画 "hue" 关键帧 */
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*
搜索栏
边框半径： 3像素；
边框阴影： 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)；
过度： 所有标签 0.5秒；
顶部外边距： 50像素；
*/
.search_bar {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all .5s;
  margin-top: 50px;
}

/*
搜索栏：悬浮
边框阴影： 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
改变：转换(0,-7px)；
*/
.search_bar:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  transform: translate(0,-5px)
}

/*
搜索提交
背景： #f3f3f3；
*/
#search_submit {
  background: #f3f3f3;
}

/*
链接
轮廓：不显示
*/
a {
    outline: none;
}